
.input_color_foreground{
  width:50%;
}




.input_color_background{
  width:50%;
}

.container{
  width:70%;
  margin:2rem auto;
  background-color: white;
  max-width: 800px;
  padding: 4rem 2rem;
  border: 1px solid black;
}

.box{
  width:100%;
  height:100%;
  display: flex;
  padding:  0;
  text-align: center;
  background-color: #f9f9f9;
  padding: 2rem;
  flex-wrap: wrap;
  -webkit-box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px  0px 6px -3px rgba(0,0,0,0.75);
}

.box h3{
  font-size: 2rem;
  font-weight: 500;
}


nav{
  margin-bottom: 0;
}

input[type=color]{
  width:100%;
  height:100px;
  border:none;
  outline: none;
  margin-top: 1rem;
}


.text_test{
  width:100%;
  margin: auto;
  padding: 2rem;
  background-color: black;
  -webkit-box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px  0px 6px -3px rgba(0,0,0,0.75);
}

#text{
  color:white;
  font-weight:400;
  font-size:12pt;
  text-align: center;
}

#textLarge{
  color:white;
  font-weight:700;
  font-size:16pt;
  text-align: center;
}

.certificates_box{
  height: fit-content;
  width: 100%;

  display: flex;
}

.certificate{
  width: 25%;
background-color:#51f081;
  padding:1rem;
text-align: center;

}

.certificate:first-of-type{
}

.certificate:last-of-type{
}


.title_nivel{
  padding: 8px;
  margin: 0 auto;
  background-color: white;
  width: fit-content;
  font-size: 1.2rem;
}

.ratio_text{
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  margin:0 auto;
  padding:1rem
}

.box2{
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px  0px 6px -3px rgba(0,0,0,0.75);

}


hr{
  background:black;
  border:none;
  width: 100%;
  height:1px}

body{
  font-family: 'Cantarell', sans-serif;

}


@media only screen and (max-width:700px){
  .inputbox{
    width:100%
  }



  .container{
    margin:0;
    padding:3rem 1rem;
    border-radius: 0;
    width:100%;
    height: fit-content;
  }

  .certificates_box{
    flex-wrap: wrap;
  }

  .certificate{
    width: 50%;
  }

  .certificate:first-of-type{
  }

  .certificate:nth-child(2){
  }

  .certificate:nth-child(3){
  }
  
  .certificate:last-of-type{
  }
  
}

html, * {
  box-sizing: border-box;
  margin:0;
  padding:0
}

html{
  font-size: 16px;
}